<!DOCTYPE html>
<html>
<head>
<title>Admin Dashboard</title>
</head>

<body style="background:#0f172a;color:white;font-family:Poppins;">

<h2 style="text-align:center;">Admin Dashboard</h2>

{% for d in donations %}

<div style="margin:10px;background:#1e293b;padding:15px;border-radius:10px;">

<p>User: {{d[1]}}</p>
<p>Food: {{d[2]}}</p>
<p>Status: {{d[5]}}</p>
<p>Delivery: {{d[6]}}</p>

<a href="/update_status/{{d[0]}}/Picked"><button>Picked</button></a>
<a href="/update_status/{{d[0]}}/Delivered"><button>Delivered</button></a>

<form method="POST" action="/assign_delivery/{{d[0]}}">
<input name="delivery_boy" placeholder="Assign Delivery Person">
<button>Assign</button>
</form>

<a target="_blank"
href="https://www.google.com/maps/search/?api=1&query={{d[4]}}">
📍 Map
</a>

</div>

{% endfor %}

</body>
</html>